/* base.css */

:root {
    /* Color Palette */
    --primary-color: #0d9488;
    --lighter-primary-color: #11a094;
    --secondary-color: white;
    --redish-color: #c42222;
    --lightest-gray-color: #f9fafb;
    --slightly-gray-color: #959aa1;
    --gray-color: rgb(91, 97, 105);
    --black-text-color: #18212c;

    /* Spacing */
    --xs-spacing: 4px;
    --s-spacing: 8px;
    --normal-spacing: 12px;
    --md-spacing: 16px;
    --large-spacing: 32px;
    --xl-spacing: 64px;

    /* Other */
    --border-radius: 8px;
    --border-color: #aeb4bda2;
    --secondary-border-color: #11a094a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ui-sans-serif, sans-serif;
    color: var(--black-text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

input,
select {
    padding: var(--normal-spacing) var(--normal-spacing);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    color: var(--black-text-color);
}

.btn {
    color: white;
    background-color: var(--primary-color);

    font-weight: bold;
    font-size: 17px;

    text-align: center;

    padding: var(--normal-spacing) var(--normal-spacing);
    border: none;
    border-radius: var(--border-radius);

    box-shadow: 0px 1px 5px 0px var(--border-color);

    cursor: pointer;

    transition: background-color 0.1s;

}

.btn:hover {
    background-color: var(--lighter-primary-color);
}

.card {
    padding: var(--large-spacing) var(--large-spacing);

    border: none;

    border-radius: var(--border-radius);
}

.primary-card {
    color: var(--black-text-color);
    background-color: var(--secondary-color);

    box-shadow: 0px 1px 5px 0px var(--border-color);
}

.secondary-card {
    color: var(--secondary-color);
    background-color: var(--primary-color);

    box-shadow: 0px 1px 5px 0px var(--secondary-border-color);
}

ul {
    list-style: none;
}

.toasts-container {
    position: absolute;
    bottom: var(--large-spacing);

    right: var(--large-spacing);
}

.toast-box {
    font-family: ui-sans-serif, sans-serif;
    font-size: 16px;
    font-weight: 450;

    min-width: 325px;

    position: relative;

    margin-top: var(--md-spacing);
    padding: 20px 24px;

    border: none;
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    gap: 16px;

    box-shadow: 0px 1px 5px 0px var(--border-color);

    color: var(--black-text-color);
    background-color: var(--secondary-color);

    animation: fadeInOut 3s forwards; 
}


.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 12px;
    right: 12px;

    height: 25px;
    aspect-ratio: 1;

    padding: var(--xs-spacing) var(--xs-spacing);

    font-family: ui-sans-serif, sans-serif;
    font-size: 20px;
    font-weight: bold;

    border: none;
    border-radius: 50%;

    background-color: var(--secondary-color);
    
    color: var(--black-text-color);
}

.close-btn:hover {
    background-color: #ececec;
}

.toast-box-success {
    border-left: var(--primary-color) 5px solid;
}

.toast-box-error {
    border-left: var(--redish-color) 5px solid;
}

.toast-box-success::before {
    content: url('./icons/tick-symbol.svg');

    width: 40px;
    height: 40px;
}

.toast-box-error::before {
    content: url('./icons/cross-symbol.svg');

    width: 40px;
    height: 40px;
}

@keyframes fadeInOut{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}