services:
  db:
    image: postgres:15
    container_name: dirhamy-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dirhamy
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      args:
        DATABASE_URL: postgresql://postgres:postgres@db:5432/dirhamy
    container_name: dirhamy-backend
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/dirhamy
    depends_on:
      - db
    ports:
      - "3000:3000"
      - "5555:5555"
    command: >
      sh -c "
        npx prisma migrate deploy &&
        npx prisma db push &&
        npx prisma generate &&
        npm run dev
      "

  frontend:
    build: ./frontend
    container_name: dirhamy-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  db_data:
