@import url("../base.css");

.main-container {
  margin-left: 260px;
  padding: 50px 45px;
}

.add-entity-container {
  width: 100%;

  padding: 20px;
  margin-bottom: var(--large-spacing);

  background-color: var(--secondary-color);
}

.add-entity-title {
  color: rgb(57, 61, 66);
  font-size: 16px;
  margin-bottom: var(--md-spacing);
}
.add-entity-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;

  .form-unit {
    flex: 1 0 120px;

    select {
      transition: background-color 0.1s;
    }

    select:hover {
      background-color: #e6e6e6;
    }
  }
  .form-label {
    color: var(--gray-color);

    margin-left: var(--xs-spacing);
    margin-bottom: 3px;

    font-size: 13px;
    font-weight: 450;
  }
  .form-field {
    width: 100%;
    font-size: 14px;
    background-color: var(--lightest-gray-color);
  }

  .form-submit-btn {
    flex-basis: 90px;
  }
}

.list-entity-container {
  padding: 20px;
}

table.list-entity-container {
  width: 100%;
  border-collapse: collapse;
  tr {
    display: flex;
    flex-direction: row;
  }

  tbody tr {
    padding: 20px 25px;
  }
  tbody tr:hover {
    background-color: #f9fafbbc;
  }
  thead tr {
    padding: 15px 25px;
  }
  thead tr,
  tbody tr:not(:last-child) {
    border-bottom: #f6f6f6 2px solid;
  }

  th {
    color: rgb(69, 73, 78);
  }
  td {
    color: var(--black-text-color);
  }
  th,
  td {
    flex: 3 0;
    text-align: left;
    font-size: 15px;
  }
  .action-btns {
    flex: 2 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    svg {
      color: rgb(101, 106, 112);
      cursor: pointer;
    }

    svg:hover {
      color: rgb(101, 106, 112);
    }
  }
  thead,
  tbody {
    display: block;
  }
}
