/* base.css */

:root {
  /* Color Palette */
  --primary-color: #0d9488;
  --lighter-primary-color: #11a094;
  --secondary-color: white;
  --redish-color: #c42222;
  --lightest-gray-color: #f9fafb;
  --slightly-gray-color: #959aa1;
  --gray-color: rgb(91, 97, 105);
  --black-text-color: #18212c;

  /* Spacing */
  --xs-spacing: 4px;
  --s-spacing: 8px;
  --normal-spacing: 12px;
  --md-spacing: 16px;
  --large-spacing: 32px;
  --xl-spacing: 64px;

  /* Other */
  --border-radius: 8px;
  --border-color: #aeb4bda2;
  --secondary-border-color: #11a094a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, sans-serif;
  color: var(--black-text-color);
  background-color: var(--lightest-gray-color);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select {
  padding: var(--normal-spacing) var(--normal-spacing);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  color: var(--black-text-color);
}

input:disabled {
  background-color: gray;
}
/* important styles to read/ get familiar with */

.btn {
  color: white;
  background-color: var(--primary-color);

  font-size: 17px;

  text-align: center;

  padding: var(--normal-spacing) var(--normal-spacing);
  border: none;
  border-radius: var(--border-radius);

  box-shadow: 0px 1px 5px 0px var(--border-color);

  cursor: pointer;

  transition: background-color 0.1s;
}

.btn:hover {
  background-color: var(--lighter-primary-color);
}

.card {
  padding: var(--large-spacing) var(--large-spacing);

  border: none;

  border-radius: var(--border-radius);
}

.primary-card {
  color: var(--black-text-color);
  background-color: var(--secondary-color);

  box-shadow: 0px 1px 5px 0px var(--border-color);
}

.secondary-card {
  color: var(--secondary-color);
  background-color: var(--primary-color);

  box-shadow: 0px 1px 5px 0px var(--secondary-border-color);
}

.main-container {
  margin-left: 260px;
  padding: 50px 45px;
}

ul {
  list-style: none;
}

/* Toast styles */

.toasts-container {
  position: fixed;
  bottom: var(--large-spacing);

  right: var(--large-spacing);
}

.toast-box {
  font-family: ui-sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 450;

  min-width: 325px;

  position: relative;

  margin-top: var(--md-spacing);
  padding: 20px 24px;

  border: none;
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  gap: 16px;

  box-shadow: 0px 1px 5px 0px var(--border-color);

  color: var(--black-text-color);
  background-color: var(--secondary-color);

  animation: fadeInOut 3s forwards;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 12px;
  right: 12px;

  height: 25px;
  aspect-ratio: 1;

  padding: var(--xs-spacing) var(--xs-spacing);

  font-family: ui-sans-serif, sans-serif;
  font-size: 20px;
  font-weight: bold;

  border: none;
  border-radius: 50%;

  background-color: transparent;

  color: var(--black-text-color);
}

.close-btn:hover {
  background-color: #ececec;
}

.toast-box-success {
  border-left: var(--primary-color) 5px solid;
}

.toast-box-error {
  border-left: var(--redish-color) 5px solid;
}

.toast-box-success::before {
  content: url("../icons/toasts-icons/tick-symbol.svg");

  width: 40px;
  height: 40px;
}

.toast-box-error::before {
  content: url("../icons/toasts-icons/cross-symbol.svg");

  width: 40px;
  height: 40px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Sidebar styles */

.sidebar {
  position: fixed;
  background-color: var(--secondary-color);

  overflow: hidden;

  display: flex;
  flex-direction: column;

  top: 0;
  left: 0;

  width: 260px;
  height: 100%;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;

  padding: 24px var(--md-spacing);

  border-bottom: #f6f6f6 2px solid;
}

.sidebar-header > svg {
  width: 120px;
  height: 30px;
  align-self: center;
}

.sidebar-resize-btn {
  margin-top: 2px;
  padding: 10px;

  align-self: center;

  border: none;
  border-radius: var(--border-radius);

  background-color: white;
  cursor: pointer;

  transition: background-color 0.2s;
}
.sidebar-resize-btn > svg {
  width: 16px;
  height: 16px;
}
.sidebar-resize-btn:hover {
  background-color: rgba(208, 208, 208, 0.187);
}

.sidebar-nav {
  flex: 1;

  padding: var(--normal-spacing) var(--normal-spacing);

  a {
    font-size: 15px;

    display: flex;

    align-items: center;

    transition:
      color 0.2s,
      background-color 0.2s,
      transform 0.2s;

    padding: var(--normal-spacing) var(--normal-spacing);

    border: none;
    border-radius: var(--border-radius);

    color: var(--black-text-color);
    svg {
      margin-right: var(--s-spacing);

      flex-shrink: 0;
    }
  }
  a:hover {
    transform: translateX(2px);
    color: var(--primary-color);
    background-color: #11a09411;
    svg {
      color: var(--primary-color);
    }
  }
}

.sidebar-footer {
  font-size: 15px;

  padding: 24px var(--md-spacing);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-top: #f6f6f6 2px solid;
}
.sidebar-profile-icon {
  color: var(--primary-color);
  background-color: #11a09436;

  font-weight: 450;

  padding: var(--normal-spacing);

  width: 45px;
  aspect-ratio: 1/1;

  border: none;
  border-radius: 50%;

  text-align: center;
  vertical-align: middle;
}
.sidebar-profile {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 var(--normal-spacing);
  gap: var(--md-spacing);
}

.sidebar-disconnect {
  width: 100%;

  color: var(--redish-color);
  background-color: white;

  font-size: 16px;
  font-weight: 550;

  padding: var(--normal-spacing);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--normal-spacing);

  border: 1px var(--redish-color) solid;
  border-radius: var(--border-radius);

  transition:
    color 0.2s,
    background-color 0.2s,
    transform 0.2s;

  cursor: pointer;
}

.sidebar-disconnect:hover {
  color: var(--secondary-color);
  background-color: var(--redish-color);

  transform: translateY(-2px);

  box-shadow: 0px 0px 10px 0px #c422227a;
}

/*Importent repeated styles like crud and modals*/

.add-entity-container {
  width: 100%;

  padding: 20px;
  margin-bottom: var(--large-spacing);

  background-color: var(--secondary-color);
}

.add-entity-title {
  color: rgb(57, 61, 66);
  font-size: 16px;
  margin-bottom: var(--md-spacing);
}
.add-entity-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: flex-end;

  .form-unit {
    flex: 1 0 150px;

    select {
      transition: background-color 0.1s;
    }

    select:hover {
      background-color: #f4f4f4;
    }
  }
  .form-label {
    color: var(--gray-color);

    margin-left: var(--xs-spacing);
    font-size: 13px;
    font-weight: 450;
  }
  .form-field {
    margin-top: 2px;
    width: 100%;
    font-size: 14px;
    background-color: var(--lightest-gray-color);
  }

  .form-submit-btn {
    flex: 0 0 120px;
    font-weight: 500;
  }
}

.list-entity-container {
  padding: 20px;
}

table.list-entity-container {
  width: 100%;
  border-collapse: collapse;
  tr {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  tbody tr {
    padding: 20px 25px;
  }
  tbody tr:hover {
    background-color: #f9fafbbc;
  }
  thead tr {
    padding: 15px 25px;
  }
  thead tr,
  tbody tr:not(:last-child) {
    border-bottom: #f6f6f6 2px solid;
  }

  th {
    color: rgb(69, 73, 78);
  }
  td {
    color: var(--black-text-color);
  }
  th,
  td {
    flex: 3 0;
    text-align: left;
    font-size: 15px;
  }

  .action-btns {
    flex: 2 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    svg {
      color: rgb(101, 106, 112);
      cursor: pointer;

      transition:
        color 0.2s,
        transform 0.2s;
    }

    .edit-icon:hover {
      transform: scale(1.1);
      color: var(--primary-color);
    }
    .delete-icon:hover {
      transform: scale(1.1);
      color: var(--redish-color);
    }
  }
  thead,
  tbody {
    display: block;
  }
}

.modal-background {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 10;

  background-color: rgba(100, 100, 100, 0.325);
}
.modal {
  z-index: 100;

  background-color: var(--secondary-color);

  position: fixed;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  gap: var(--normal-spacing);

  border: none;
  border-radius: var(--border-radius);

  .modal-header {
    border-bottom: #efefef 2px solid;
    padding: 22px;
  }

  .modal-footer {
    padding: 18px 22px;

    border-top: #efefef 2px solid;
  }

  .form-unit {
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing);

    margin-bottom: var(--normal-spacing);
    padding: 0 22px;

    input {
      padding: 10px var(--normal-spacing);
    }
    select {
      transition: background-color 0.1s;
    }

    select:hover {
      background-color: #f4f4f4;
    }

    select:disabled:hover {
      background-color: #e5e5e5;
    }
  }

  .form-unit.first-unit {
    margin-top: var(--md-spacing);
  }
  .form-unit.last-unit {
    margin-bottom: 22px;
  }
  .form-label {
    color: rgb(82, 88, 95);

    font-size: 13px;
  }
  .form-field {
    font-size: 14px;
    background-color: var(--secondary-color);
  }

  .form-field:disabled {
    background-color: #e5e5e5;
  }
  .action-btns {
    display: flex;

    justify-content: flex-end;
    gap: var(--normal-spacing);
  }
  .cancel-btn {
  }
  button {
    padding: var(--s-spacing) var(--md-spacing);
    border: none;
    border-radius: var(--border-radius);

    font-size: 17px;

    cursor: pointer;
    transition: background-color 0.1s;
  }
  .action-btn {
    color: white;
    background-color: var(--primary-color);
  }
  .action-btn:hover {
    background-color: #10b7a9;
  }
  .action-btn:disabled {
    background-color: #a1a1a1;
    cursor: auto;
  }
  .delete-btn {
    background-color: #e02727;
    color: var(--secondary-color);
  }
  .delete-btn:hover {
    background-color: var(--redish-color);
  }
  .cancel-btn {
    color: rgb(82, 88, 95);
  }
}

.delete-modal {
  display: none;
  width: 400px;
  padding: 22px;

  h2 {
    color: var(--black-text-color);
    font-size: 19px;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    margin-top: var(--s-spacing);
    margin-bottom: 24px;
    color: rgb(69, 73, 78);
  }
}

.action-modal {
  display: none;

  width: 420px;

  h2 {
    color: var(--black-text-color);
    font-size: 19px;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    color: rgb(69, 73, 78);
  }
}

.switch-on-modal {
  display: block !important;
}
.switch-on-modal.modal {
  animation-name: modalTransition;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
}

@keyframes modalTransition {
  from {
    transform: translateY(-50%) translateX(-50%);
    opacity: 0.5;
  }
  to {
    transform: translateY(-52%) translateX(-50%);
    opacity: 1;
  }
}

.modal .action-btn:disabled,
.sign-in-btn:disabled,
.add-entity-form .form-submit-btn:disabled {
  background-color: #0d948887 !important;
}

.modal .delete-btn:disabled {
  background-color: #e027279c !important;
}

.pause-page-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1000;

  background-color: transparent;
}

.loading-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1000;

  background-color: var(--lightest-gray-color);

  transition: opacity 0.1s;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  opacity: 1;
  border: 4px solid var(--black-text-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loading-text {
  color: var(--black-text-color);

  font-weight: 500;
}
.no-opacity {
  opacity: 0 !important;
}

.no-display {
  display: none !important;
}

@keyframes rotation {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
