@import url("../base.css");

.add-entity-container .form-unit:has(#add-description-field) {
  flex-basis: 300px;
}

#add-transfer-to-field {
  display: none;
}

.expense-color {
  color: var(--redish-color);
}

.income-color {
  color: var(--primary-color);
}

.transfer-color {
  color: rgb(20, 17, 185);
}
