@import url("../base.css");

.balance-container {
  display: flex;
  flex-direction: row;
  flex-wrap: 1;
  gap: 30px;

  margin-bottom: var(--large-spacing);

  article {
    flex: 1;
  }

  .card {
    padding: 24px;
  }

  .card-label {
    font-size: 13px;
    font-weight: bold;

    margin-bottom: var(--md-spacing);
  }

  .card-balance::after {
    content: "DH";
    margin-left: var(--xs-spacing);
  }

  .card-balance {
    font-size: 32px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

    letter-spacing: 1px;
  }

  .account-card-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    opacity: 0.9;
  }

  .total-card-label {
    opacity: 0.9;
  }
}

.add-entity-container .form-unit:has(#add-description-field) {
  flex-basis: 300px;
}

#add-transfer-to-field {
  display: none;
}

.expense-color {
  color: var(--redish-color);
}

.income-color {
  color: var(--primary-color);
}

.transfer-color {
  color: rgb(20, 17, 185);
}
