@import url("/base.css");

.balance-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

  margin-bottom: var(--large-spacing);

  article {
    flex: 1;
  }

  .card {
    padding: 24px;
  }

  .card-label {
    font-size: 13px;
    font-weight: bold;

    margin-bottom: var(--md-spacing);
  }

  .card-balance::after {
    content: "DH";
    margin-left: var(--xs-spacing);
  }

  .card-balance {
    font-size: 32px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

    letter-spacing: 1px;
  }

  .account-card-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    opacity: 0.9;
  }

  .total-card-label {
    opacity: 0.9;
  }
}

table.list-entity-container {
  /* overwrite default styles */

  .date-column,
  .type-column,
  .category-column {
    flex: 3 0;
  }

  .account-column {
    display: flex;

    align-items: baseline;
    flex-direction: column;

    flex: 2.5 0;
  }

  .account-column > div {
    display: flex;
    flex-direction: column;
  }
  .downward-arrow {
    align-self: center;
  }
  .amount-column {
    flex: 2 0;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
  }
  td.amount-column {
    font-weight: 550;
  }
  td.type-column {
    display: flex;

    font-weight: 550;
  }

  .type-column > div {
    display: flex;
    align-items: center;
    gap: var(--s-spacing);

    font-size: 14px;

    padding: var(--xs-spacing) 10px;

    border: none;
    border-radius: 4px;
  }
}

.add-entity-container .form-unit:has(#add-description-field) {
  flex-basis: 300px;
}

.add-entity-container .form-unit:has(#add-transfer-to-field) {
  display: none;
}

.expense-color {
  color: var(--redish-color) !important;
}

.income-color {
  color: var(--primary-color) !important;
}

.transfer-color {
  color: rgb(11, 78, 229) !important;
}

.type-column > div.transfer-color {
  background-color: rgba(11, 76, 229, 0.09);
}
.type-column > div.expense-color {
  background-color: #c4222214;
}

.type-column > div.income-color {
  background-color: #0d948916;
}

#show-more-btn {
  margin: var(--md-spacing) auto;

  padding: var(--normal-spacing) var(--md-spacing);

  display: block;

  font-weight: 500;
}
